<br>
<br>
<br>
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/proyectos">Proyectos</a></li>
    </ol>
  </nav>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">                    
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Proyectos</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let proyecto of proyectos">
                                <div class="project-list" [style.background-color]="obtenerColorFondo(proyecto)" (click)="redirectToProyectoDetalle(proyecto)">
                                    <p [ngStyle]="{ 'color': obtenerColorTexto(proyecto.estadoProyecto) }">{{ proyecto.nombreCorto }}</p>
                                </div>
                            </div>
                            <button class="btn btn-primary" style="background-color: #117c5d;" (click)="redirectToRegistrarProyecto()">+
                                Crear</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
</div>
