<br>
<br>
<br>
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/registrar-usuario">Registrar Usuario</a></li>
    </ol>
  </nav>
<div class="main-content" *ngIf="mostrarTabla">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">

            <h3>Gestión de Usuarios</h3>
          </div>

          <div class="container">

            <form [formGroup]="proyectoForm" (ngSubmit)="onSubmit()" style="padding: 20px;"> 
              <!-- Nombre del Proyecto -->
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" formControlName="nombre" class="form-control" required>
              </div>

              <!-- Apellidos del Proyecto -->
              <div class="form-group">
                <label for="apellidos">Apellido:</label>
                <input type="text" id="apellidos" formControlName="apellidos" class="form-control" required>
              </div>

              <!-- Correo Electrónico -->
              <div class="form-group">
                <label for="username">Correo Electrónico:</label>
                <input type="text" id="username" formControlName="username" class="form-control" required>
              </div>

              <!-- Rol -->
              <div class="form-group">
                <label for="role">Rol:</label>
                <select id="role" formControlName="role" class="form-control" required>
                  <option value="">Selecciona un rol</option>
                  <option value="admin">Administrador</option>
                  <option value="usuario">Trabajador</option>
                  <option value="cliente">Cliente</option>
                </select>
              </div>       

              <button type="submit" class="btn" style="background-color: #117c5d; border: none; margin-bottom: 10px;">Registrar Usuario</button>
            </form>

            <!-- Tabla de usuarios -->
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Correo Electrónico</th>
                  <th>Rol</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios">
                  <td>{{ usuario.nombre }}</td>
                  <td>{{ usuario.apellidos }}</td>
                  <td>{{ usuario.username }}</td>
                  <td>{{ usuario.role }}</td>
                  <td>
                    <!-- Icono de eliminación -->
                    <button class="btn btn-danger" (click)="eliminarUsuario(usuario.id)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>