<br>
<br>
<br>
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/"></a></li>
    </ol>
  </nav>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Resumen de Proyectos</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="project-box">
                                    <p>Proyectos</p>
                                    <h2>{{ numProyectos }}</h2>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="status-box">
                                    <p>Activos</p>
                                    <h2>{{ numProyectosActivos }}</h2>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="status-box">
                                    <p>Completados</p>
                                    <h2>{{ numProyectosCompletados }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Resumen de Actividades</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="project-box">
                                    <p>Actividades</p>
                                    <h2>{{ numActividades }}</h2>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="status-box">
                                    <p>Activas</p>
                                    <h2>{{ numActividadesActivas }}</h2>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="status-box">
                                    <p>Completadas</p>
                                    <h2>{{ numActividadesCompletadas }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Lideres</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Líder</th>
                                            <th>Número de Proyectos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let lider of lideresConProyectos">
                                            <td>{{ lider.nombreLider }}</td>
                                            <td>{{ lider.numeroProyectos }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- Formulario para agregar lider -->
                                <div *ngIf="mostrarTabla">
                                    <h5>Agregar lider</h5>
                                    <form (ngSubmit)="agregarLider()">
                                        <label for="nombreCompleto" style="margin: 10px;">Nombre completo:</label>

                                        <input type="string" id="nombre" [(ngModel)]="nuevoLider.nombre"
                                            name="nombre" required>
                                        <button class="btn btn-primary" style="background-color: #117c5d; border: none; margin-bottom: 10px; margin-left: 10px;" type="submit">Agregar
                                            lider</button>
                                    </form>
                                </div>
                                <!-- Formulario para agregar lider -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
