<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/Dashboard">Inicio</a></li>
    <li class="breadcrumb-item"><a routerLink="/"></a></li>
  </ol>
</nav>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Resumen</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="project-box">
                                    <p>Actividades</p>
                                    <h2>{{ numActividades }}</h2>
                                    <button class="btn btn-primary" (click)="redirectToRegistrarActividad()">+
                                        Crear</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="status-box">
                                    <p>Activas</p>
                                    <h2>{{ numProyectosActivos }}</h2>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="status-box">
                                    <p>Completadas</p>
                                    <h2>{{ numProyectosCompletados }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Actividades</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let proyecto of proyectos">
                                <div class="project-list" (click)="redirectToProyectoDetalle(proyecto)">
                                    <p>{{ proyecto.nombreCorto }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
