<br>
<br>
<br>
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/mi-perfil">Mi perfil</a></li>
    </ol>
  </nav>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Editar Perfil</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" id="nombre" formControlName="nombre" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="apellidos">Apellidos:</label>
                                <input type="text" id="apellidos" formControlName="apellidos" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Nombre de Usuario:</label>
                                <input type="text" id="username" formControlName="username" class="form-control" [readonly]="true" required>
                            </div>
                            <button type="submit" class="btn"class="btn" style="background-color: #117c5d; border: none; margin-bottom: 10px;">Guardar Cambios</button>
                        </form>
                        <hr>
                        <form [formGroup]="perfilForm" (ngSubmit)="onUpdatePassword()">
                            <div class="form-group">
                                <label for="currentPassword">Contraseña Actual:</label>
                                <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="newPassword">Nueva Contraseña:</label>
                                <input type="password" id="newPassword" formControlName="newPassword" class="form-control" required>
                                <div *ngIf="perfilForm.get('newPassword').invalid && perfilForm.get('newPassword').touched">
                                    <small class="text-danger" *ngIf="perfilForm.get('newPassword').errors.required">La contraseña es requerida</small>
                                    <small class="text-danger" *ngIf="perfilForm.get('newPassword').errors.minlength">La contraseña debe tener al menos 8 caracteres</small>
                                    <small class="text-danger" *ngIf="perfilForm.get('newPassword').errors.strong">La contraseña debe contener al menos un número, una letra mayúscula y una minúscula</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
                                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" required>
                                <div *ngIf="perfilForm.get('confirmPassword').invalid && perfilForm.get('confirmPassword').touched">
                                    <small class="text-danger" *ngIf="perfilForm.get('confirmPassword').errors.required">La confirmación de la contraseña es requerida</small>
                                    <small class="text-danger" *ngIf="perfilForm.get('confirmPassword').errors.passwordMismatch">Las contraseñas no coinciden</small>
                                </div>
                            </div>
                            <button type="submit" class="btn" class="btn" style="background-color: #117c5d; border: none; margin-bottom: 10px;">Actualizar Contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
