<nav class="navbar navbar-expand-lg navbar-dark bg-navy fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#/home">Gestor de proyectos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <div class="nav-item" style="display: flex; align-items: center; max-width: 400px; margin: 0 auto;">
                    <input type="text" [(ngModel)]="query" (keyup.enter)="search()" placeholder="Buscar en el sitio..."
                        style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; flex: 1; margin-right: 10px;">
                    <button (click)="search()"
                        style="padding: 10px 20px; background-color: #117c5d; color: white; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;">
                        Buscar
                    </button>
                </div>
                
                <li class="nav-item" *ngIf="isLoggedIn()">
                    <a routerLink='/dashboard' class="nav-link">Inicio</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn()">
                    <a routerLink='/proyectos' class="nav-link">Proyectos</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn()">
                    <a routerLink='/mi-perfil' class="nav-link">Mi perfil</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn() && isAdmin">
                    <a routerLink='/gusuarios' class="nav-link">Gestion de usuarios</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn()">
                    <a (click)="logout()" class="nav-link">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
