<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/angular2-logo.png" alt="">
                    </div>
                    <h1 class="presentation-title">Gestor de Proyectos</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Gestiona tus proyectos de manera sencilla</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
        
        <div class="page-content">
            <div>
                <div class="da-section da-work" id="nosotros" style="background-color:var(--color-bg-seccion1)!important;">
                    <div class="container margin-container">
                        <div class="h1 pb-1 text-center" data-aos="" style="color:var(--color-txt-seccion-1); text-align: justify;">Nosotros</div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-lg-6" style="color:var(--color-txt-seccion-1);text-align: justify;">
                                <p class="h3 pb-3">Somos una empresa dedicada a la creación de soluciones de software para la gestión de proyectos. Nuestra aplicación está diseñada para ayudar a las empresas a planificar, organizar y administrar sus proyectos de manera eficiente.</p>
                                <br>
                                <p class="h2 pb-2">Características principales:</p>
                                <br>
                                <ul>
                                    <li class="h3 pb-3">Planificación de proyectos: Nuestra aplicación permite a los usuarios definir metas, establecer plazos y asignar tareas a los miembros del equipo. También proporciona una visión general del progreso del proyecto en tiempo real.</li>
                                    <br>
                                    <li class="h3 pb-3">Colaboración en equipo: Facilitamos la comunicación y colaboración entre los miembros del equipo. Los usuarios pueden compartir documentos, discutir ideas y resolver problemas juntos en un solo lugar.</li>
                                    <br>
                                    <li class="h3 pb-3">Seguimiento del tiempo y presupuesto: Con nuestra aplicación, puedes realizar un seguimiento del tiempo dedicado a cada tarea y mantener un registro del presupuesto del proyecto. Esto ayuda a garantizar que el proyecto se mantenga dentro del plazo y el presupuesto establecidos.</li>
                                    <br>
                                    <li class="h3 pb-3">Informes personalizables: Nuestra aplicación genera informes detallados que te ayudan a entender el rendimiento del proyecto y a tomar decisiones informadas.</li>
                                    <br>
                                    <li class="h3 pb-3">Integraciones: Nuestra aplicación se integra con otras herramientas populares como Microsoft Office, Google Drive, Slack, entre otras, para proporcionar una experiencia de gestión de proyectos sin interrupciones.</li>
                                    <br>
                                    <li class="h3 pb-3">Estamos comprometidos con la satisfacción del cliente y ofrecemos soporte técnico 24/7 para asegurarnos de que tu experiencia con nuestra aplicación sea fluida y productiva. Si estás interesado en mejorar la gestión de proyectos en tu empresa, ¡nos encantaría tener la oportunidad de trabajar contigo.</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <img style="float: right; max-width: 100%;" src="assets/img/imagen1.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h1 class="title">Más infromación sobre el producto</h1>
                <h3 class="description">Este producto ofrece una gran variedad de herramientas, las cuales permiten a las empresas tener una mejor gestión de sus proyectos, para así poder realizarlos de manera eficaz.</h3>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Beautiful Gallery</h4>
                        <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">New Ideas</h4>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Statistics</h4>
                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Socios Clave</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/amazon.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                        </a>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/dropbox.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit"></a>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/cocacola.webp" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit"></a>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Dudas o Sugerencias</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nombre</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nombre" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Correo</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Correo" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Escriba aquí:</label>
                        <textarea class="form-control" rows="4" placeholder="Escriba su mensaje"></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>