<div *ngIf="!showChat" class="chat-toggle" (click)="toggleChat()">Mapa del sitio</div>

<div class="chat-container" *ngIf="showChat">
    <div class="chat-header">
      Mapa del sitio
      <button class="close-button" (click)="toggleChat()">X</button>
    </div>
    <div class="site-map">
      <div class="page" >Home
        <div class="sub-page" >Login
          <div class="sub-page" >Inicio
            <div class="sub-page" >Proyectos
              <div class="sub-page" >Agregar Proyecto</div>
              <div class="sub-page">Ver Proyecto Detallado
                <div class="sub-page">Agregar Actividad</div>
                <div class="sub-page">Ver Actividad Detallada</div>
              </div>
            </div>
            <div class="sub-page" >Mi Perfil</div>
            <div class="sub-page" >Gestión de Usuarios</div>
          </div>
        </div>
        <div class="sub-page" >Registrar Proyecto Prueba</div>
        <div class="sub-page" >Ver Proyecto Prueba</div>
      </div>
    </div>
     
  </div>