  <div class="modal" [style.display]="isOpen ? 'block' : 'none'">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Mapa del Sitio</h2>
      <ul>
        <li><a routerLink="/dashboard" class="nav-link">Inicio</a></li>
        <li><a routerLink="/proyectos" class="nav-link">Proyectos</a></li>
        <li>
          <ul>
            <li><a routerLink="/registrar-proyecto" class="nav-link">Agregar Proyecto</a></li>
            <li><a routerLink="/ver-proyecto" class="nav-link">Detalle Proyectos</a></li>
          </ul>
        </li>
          <ul>
            <li><a routerLink="/agregar-actividad" class="nav-link">Agregar Actividad</a></li>
            <li><a routerLink="/ver-actividad" class="nav-link">Detalle Actividad</a></li>
          </ul>
        <li><a routerLink="/registrar-proyecto" class="nav-link">Mi perfil</a></li>
        <ul>
          <li><a routerLink="/recuperar-contrasena" class="nav-link">Recuperar Contraseña</a></li>
        <li><a routerLink="/actualizar-contrasena" class="nav-link">Actualizar Contraseña</a></li>
        </ul>
        </ul>
    </div>
  </div>
  
