<br>
<br>
<br>
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/ver-actividad">Detalles Actividad</a></li>
    </ol>
  </nav>

<!-- ver-proyecto.component.html -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Detalles de la Actividad</h3>
                    </div>
                    <div class="card-body">
                        <div *ngIf="verActividad">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Atributo</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nombre de la Actividad</td>
                                        <td>{{ verActividad.nombreActividad }}</td>
                                    </tr>
                                    <tr>
                                        <td>Descripción</td>
                                        <td>{{ verActividad.descripcion }}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de Inicio</td>
                                        <td>{{ verActividad.fechaInicio }}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de Término</td>
                                        <td>{{ verActividad.fechaTermino }}</td>
                                    </tr>
                                    <tr>
                                        <td>Estado de ña Actividad</td>
                                        <td>{{ verActividad.estadoProyecto }}</td>
                                    </tr>
                                    <tr>
                                        <td>Encargado de la Actividad</td>
                                        <td>{{ verActividad.nombreLiderProyecto }}</td>
                                    </tr>
                                    <tr>
                                        <td>Líder del Proyecto</td>
                                        <td>{{ verActividad.nombreLiderProyecto }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary" (click)="terminado(idActividad)">Marcar como terminada</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>PDFs</h3>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li *ngFor="let pdf of verProyecto.pdfs">
                                <a href="{{ getPDFUrl(pdf) }}" target="_blank">{{ extractFileName(pdf) }}</a>
                            </li>
                        </ul>

                        <!-- agregar pdf -->
                        <div>
                            <h5>Agregar PDF</h5>
                            <!--form (ngSubmit)="agregarDocumento()" enctype="multipart/form-data">
                                <label for="pdfFile">Seleccionar PDF:</label>
                                <input type="file" id="pdfFile" (change)="onFileChange($event)" name="pdfFile"
                                    accept=".pdf" required>

                                <button type="submit" style="margin-left: 10px;" class="btn btn-primary" [disabled]="documentoForm.invalid">Agregar
                                    PDF</button>
                            </!--form>
                        </div>
                        < fin agregar pdf -->

                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngif="mostrarTabla">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Stakeholders</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre Completo</th>
                                    <th>Correo Electrónico</th>
                                    <th>Teléfono</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let stakeholder of verProyecto.stakeholders">
                                    <td>{{ stakeholder.nombreCompleto }}</td>
                                    <td>{{ stakeholder.correoElectronico }}</td>
                                    <td>{{ stakeholder.telefono }}</td>
                                </tr>
                            </tbody>
                        </table>

</div>
