<br>
<br>
<br>
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/proyectos">Proyectos</a></li>
      <li class="breadcrumb-item"><a (click)="goBack()" style="color: #51bcda;">Detalles Proyecto</a></li>
      <li class="breadcrumb-item"><a>Detalles Actividad</a></li>
    </ol>
  </nav>

<!-- ver-proyecto.component.html -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Detalles de la Actividad</h3>
                    </div>
                    <div class="card-body">
                        <div *ngIf="verActividad">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Atributo</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nombre de la Actividad</td>
                                        <td>{{ verActividad.nombreActividad }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nombre Corto</td>
                                        <td>{{ verActividad.nombreCorto }}</td>
                                    </tr>
                                    <tr>
                                        <td>Descripción</td>
                                        <td>{{ verActividad.descripcion }}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de Inicio</td>
                                        <td>{{ verActividad.fechaInicio }}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de Término</td>
                                        <td>{{ verActividad.fechaTermino }}</td>
                                    </tr>
                                    <tr>
                                        <td>Estado de la Actividad</td>
                                        <td>{{ verActividad.estadoActividad }}</td>
                                    </tr>
                                    <tr>
                                        <td>Encargado de la Actividad</td>
                                        <td>{{ verActividad.nombre }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary" style="background-color: #117c5d;" 
                                (click)="Acterminada(verActividad.idActividad)"
                                [disabled]="verActividad.estadoActividad === 'Completada'">
                                {{ verActividad.estadoActividad === 'Completada' ? 'Actividad terminada' : 'Marcar como terminada' }}
                            </button>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
