.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: #333; /* Fondo oscuro */
  color: #fff; /* Texto claro */
  border: 1px solid #555; /* Borde oscuro */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.chat-messages {
  height: 200px;
  overflow-y: scroll;
  padding: 10px;
}

.user-message {
  background-color: #117c5d;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 8px;
  align-self: flex-start;
}


.server-message {
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 8px;
  align-self: flex-end;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #555;
  border-bottom: 1px solid #777;
}

.chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #117c5d;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.chat-messages {
  height: 200px;
  overflow-y: scroll;
  padding: 10px;
}

.chat-input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #777; /* Borde más oscuro en la parte superior del área de entrada */
}

.chat-input-container input {
  flex-grow: 1;
  margin-right: 10px;
  background-color: #444; /* Fondo oscuro del área de entrada */
  color: #fff; /* Texto claro en el área de entrada */
  border: 1px solid #666; /* Borde oscuro del área de entrada */
  border-radius: 3px;
  padding: 8px;
}

.chat-input-container button {
  background-color: #117c5d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}
