<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
      <div class="filter"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
            <div class="card card-register">
              <h3 class="title">Actualiza tu contraseña</h3>
              <div class="social-line text-center"></div>
              <form class="register-form" (submit)="login()" [formGroup]="formulario">
                <label>Token</label>
                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus': focus === true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-vector"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Token" formControlName="token" (focus)="focus = true" (blur)="focus = false">
                </div>
  
                <div *ngIf="formulario.get('token').invalid && (formulario.get('token').dirty || formulario.get('token').touched)">
                  <div *ngIf="formulario.get('token').errors.required" class="alert alert-danger">El token es requerido.</div>
                </div>
  
                <label>Nueva contraseña</label>
                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus': focus1 === true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-key-25"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" (focus)="focus1 = true" (blur)="focus1 = false">
                </div>
                <div *ngIf="formulario.get('password').invalid && (formulario.get('password').dirty || formulario.get('password').touched)">
                  <div *ngIf="formulario.get('password').errors.required" class="alert alert-danger">La contraseña es requerida.</div>
                  <div *ngIf="formulario.get('password').errors.minlength" class="alert alert-danger">La contraseña debe tener al menos 8 caracteres.</div>
                  <div *ngIf="perfilForm.get('password').errors.strong" class="alert alert-danger">La contraseña debe contener al menos un número, una letra mayúscula y una minúscula</div>
                </div>
                <button type="submit" class="btn btn-danger btn-block btn-round">Actualizar contraseña</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  